PORT=3000

# This was inserted by `prisma init`:
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# DATABASE_URL=postgresql://johndoe:yourPassword@localhost:5432/yourDatabaseName?schema=public

# Database
DATABASE_POSTGRES_USER=yourDatabaseUser
DATABASE_POSTGRES_PASSWORD=yourStrongPassword
DATABASE_POSTGRES_DB=faces-db
